<a href="https://colab.research.google.com/github/annaelyoliveira/Projetos_com_biblioteca_Pandas/blob/main/Projeto_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install Pandas

import pandas as pd

Requirement already satisfied: Pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from Pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from Pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from Pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from Pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->Pandas) (1.17.0)

In [ ]:
df = pd.read_csv('/content/Base_de_dados/registro_vendas.csv')

print(df)

   Unnamed: 0   Produto   Preço  Estoque    Categoria
0           0  Notebook  3000.0     10.0  Eletrônicos
1           1       NaN  1500.0      5.0  Eletrônicos
2           2    Tablet   800.0     15.0          NaN
3           3  Notebook  3000.0      NaN  Eletrônicos
4           4   Celular     NaN     12.0  Eletrônicos

#Limpeza de Dados

In [ ]:
# 1. Identificando quais colunas contêm valores nulos e quantos valores nulos existem em cada uma

df.isnull().sum()

Unnamed: 0    0
Produto       1
Preço         1
Estoque       1
Categoria     1
dtype: int64

In [ ]:
# 2. Substituindo os valores nulos na coluna Preço pela média dos valores não nulos

media_preco = df['Preço'].mean()
df = df.fillna({'Preço':media_preco}, inplace=False)
print(df)

   Unnamed: 0   Produto   Preço  Estoque    Categoria
0           0  Notebook  3000.0     10.0  Eletrônicos
1           1       NaN  1500.0      5.0  Eletrônicos
2           2    Tablet   800.0     15.0          NaN
3           3  Notebook  3000.0      NaN  Eletrônicos
4           4   Celular  2075.0     12.0  Eletrônicos

In [ ]:
# 3. Substituindo os valores nulos da coluna Estoque(Quantidade) por 0

df= df.fillna({'Estoque': 0}, inplace=False)

# Trocando valores nulos da categoria Produto por " - "

df = df.fillna({'Produto': ' - '}, inplace=False)
print(df)

   Unnamed: 0   Produto   Preço  Estoque    Categoria
0           0  Notebook  3000.0     10.0  Eletrônicos
1           1        -   1500.0      5.0  Eletrônicos
2           2    Tablet   800.0     15.0          NaN
3           3  Notebook  3000.0      0.0  Eletrônicos
4           4   Celular  2075.0     12.0  Eletrônicos

In [ ]:
# 4. Removendo as linhas onde a coluna Categoria possui valores nulos

df_sem_nulo_categoria = df.dropna(subset=['Categoria'], inplace=False)
print(df_sem_nulo_categoria)

   Unnamed: 0   Produto   Preço  Estoque    Categoria
0           0  Notebook  3000.0     10.0  Eletrônicos
1           1        -   1500.0      5.0  Eletrônicos
3           3  Notebook  3000.0      0.0  Eletrônicos
4           4   Celular  2075.0     12.0  Eletrônicos

In [ ]:
# 5. Verificando se há dados duplicados
duplicados = df.duplicated()
print(duplicados)

print()

# Removendo dados duplicados do DF original
df = df.drop_duplicates(inplace=False)
print(df)

# *OBS Não tem dados duplicados

0    False
1    False
2    False
3    False
4    False
dtype: bool

   Unnamed: 0   Produto   Preço  Estoque    Categoria
0           0  Notebook  3000.0     10.0  Eletrônicos
1           1        -   1500.0      5.0  Eletrônicos
2           2    Tablet   800.0     15.0          NaN
3           3  Notebook  3000.0      0.0  Eletrônicos
4           4   Celular  2075.0     12.0  Eletrônicos

In [ ]:
# 6. Criando um novo DataFrame contendo apenas os produtos da categoria “Grãos”
# OBS* não tem categoria Grãos ent ficou vazio o df

df_graos = df.loc[df['Categoria'] == 'Grãos']

print(df_graos)

Empty DataFrame
Columns: [Unnamed: 0, Produto, Preço, Estoque, Categoria]
Index: []

In [ ]:
# 7. Filtrando os produtos com preço superior a 10 e quantidade maior que 30
# *OBS no csv não tem quantidade e sim estoque, coloquei pra filtrar o estoque maior que 7 para que o df não ficasse vazio, caso fosse maior que 30 o df é vazio)

df_filtrado = df[(df['Preço'] > 10) & (df['Estoque'] > 7)]

print('Produtos com preço superior a 10 e Estoque maior que 7')
print(df_filtrado)

Produtos com preço superior a 10 e Estoque maior que 7
   Unnamed: 0   Produto   Preço  Estoque    Categoria
0           0  Notebook  3000.0     10.0  Eletrônicos
2           2    Tablet   800.0     15.0          NaN
4           4   Celular  2075.0     12.0  Eletrônicos

#Manipulação de Estruturas

In [ ]:
# 8. Adicionando uma coluna chamada “Receita”, que será o resultado de Preço multiplicado por Quantidade

df['Receita'] = df['Preço'] * df['Estoque']

print(df)

   Unnamed: 0   Produto   Preço  Estoque    Categoria  Receita
0           0  Notebook  3000.0     10.0  Eletrônicos  30000.0
1           1        -   1500.0      5.0  Eletrônicos   7500.0
2           2    Tablet   800.0     15.0          NaN  12000.0
3           3  Notebook  3000.0      0.0  Eletrônicos      0.0
4           4   Celular  2075.0     12.0  Eletrônicos  24900.0

In [ ]:
# 9. Criando uma nova coluna chamada “Margem de Lucro (%)”, com um valor fixo de 20% aplicado ao preço

def desconto_percentual(preco):
  desconto_fixo = 20
  return (desconto_fixo / preco) * 100

df['Margem de Lucro (%)'] = df['Preço'].apply(desconto_percentual)

# Arredondando os valores da coluna para 3 casas decimais
df['Margem de Lucro (%)'] = df['Margem de Lucro (%)'].round(3)

print(df)

   Unnamed: 0   Produto   Preço  Estoque    Categoria  Receita  \
0           0  Notebook  3000.0     10.0  Eletrônicos  30000.0
1           1        -   1500.0      5.0  Eletrônicos   7500.0
2           2    Tablet   800.0     15.0          NaN  12000.0
3           3  Notebook  3000.0      0.0  Eletrônicos      0.0
4           4   Celular  2075.0     12.0  Eletrônicos  24900.0

   Margem de Lucro (%)
0                0.667
1                1.333
2                2.500
3                0.667
4                0.964

In [ ]:
# 10. Removendo a coluna Categoria do DataFrame

df_sem_categoria = df.drop(columns=['Categoria'], inplace=False)

print(df_sem_categoria)

   Unnamed: 0   Produto   Preço  Estoque  Receita  Margem de Lucro (%)
0           0  Notebook  3000.0     10.0  30000.0                0.667
1           1        -   1500.0      5.0   7500.0                1.333
2           2    Tablet   800.0     15.0  12000.0                2.500
3           3  Notebook  3000.0      0.0      0.0                0.667
4           4   Celular  2075.0     12.0  24900.0                0.964

In [ ]:
# 11. Reorganizando as colunas do DataFrame para a seguinte ordem: Produto, Preço, Margem de Lucro (%), Quantidade, Receita

df = df[['Produto', 'Preço', 'Categoria', 'Margem de Lucro (%)', 'Estoque', 'Receita',]]

print(df)

    Produto   Preço    Categoria  Margem de Lucro (%)  Estoque  Receita
0  Notebook  3000.0  Eletrônicos                0.667     10.0  30000.0
1        -   1500.0  Eletrônicos                1.333      5.0   7500.0
2    Tablet   800.0          NaN                2.500     15.0  12000.0
3  Notebook  3000.0  Eletrônicos                0.667      0.0      0.0
4   Celular  2075.0  Eletrônicos                0.964     12.0  24900.0

In [ ]:
# 12. Renomeando as colunas
df_renomeado = df.rename(columns={ 'Produto': 'Nome do Produto',
                        'Preço': 'Preço Unitário',
                        'Estoque': 'Quantidade Vendida' })
print(df_renomeado)

  Nome do Produto  Preço Unitário    Categoria  Margem de Lucro (%)  \
0        Notebook          3000.0  Eletrônicos                0.667
1              -           1500.0  Eletrônicos                1.333
2          Tablet           800.0          NaN                2.500
3        Notebook          3000.0  Eletrônicos                0.667
4         Celular          2075.0  Eletrônicos                0.964

   Quantidade Vendida  Receita
0                10.0  30000.0
1                 5.0   7500.0
2                15.0  12000.0
3                 0.0      0.0
4                12.0  24900.0

In [ ]:
# 13. Renomeiando os índices para os dias da semana: ["Segunda", "Terça", "Quarta","Quinta", "Sexta", "Sábado", "Domingo"]

df = df.rename(index={0: 'Segunda', 1: 'Terça', 2: 'Quarta', 3: 'Quinta', 4: 'Sexta', 5: 'Sábado', 6: 'Domingo'})

df

          Produto   Preço    Categoria  Margem de Lucro (%)  Estoque  Receita
Segunda  Notebook  3000.0  Eletrônicos                0.667     10.0  30000.0
Terça          -   1500.0  Eletrônicos                1.333      5.0   7500.0
Quarta     Tablet   800.0          NaN                2.500     15.0  12000.0
Quinta   Notebook  3000.0  Eletrônicos                0.667      0.0      0.0
Sexta     Celular  2075.0  Eletrônicos                0.964     12.0  24900.0

#Ordenação e Filtros

In [ ]:
# 14. Ordenando o DataFrame pelos valores de Preço em ordem crescente

df = df.sort_values(by='Preço', ascending= True,inplace=False)
print(df)

          Produto   Preço    Categoria  Margem de Lucro (%)  Estoque  Receita
Quarta     Tablet   800.0          NaN                2.500     15.0  12000.0
Terça          -   1500.0  Eletrônicos                1.333      5.0   7500.0
Sexta     Celular  2075.0  Eletrônicos                0.964     12.0  24900.0
Segunda  Notebook  3000.0  Eletrônicos                0.667     10.0  30000.0
Quinta   Notebook  3000.0  Eletrônicos                0.667      0.0      0.0

In [ ]:
# 15. Ordenando os dados primeiro por Categoria (ascendente) e em seguida, por quantidade (estoque) (descendente)
df= df.sort_values(by=['Categoria','Estoque'], ascending= [True, False])

df

          Produto   Preço    Categoria  Margem de Lucro (%)  Estoque  Receita
Sexta     Celular  2075.0  Eletrônicos                0.964     12.0  24900.0
Segunda  Notebook  3000.0  Eletrônicos                0.667     10.0  30000.0
Terça          -   1500.0  Eletrônicos                1.333      5.0   7500.0
Quinta   Notebook  3000.0  Eletrônicos                0.667      0.0      0.0
Quarta     Tablet   800.0          NaN                2.500     15.0  12000.0

In [ ]:
# 16. Reorganizando os índices do DataFrame em ordem alfabética
print("\n------- Ordenado pela ordem alfabética -------\n")
df.sort_index(ascending=True, inplace=True)

print(df)

# *OBS Ficou em ordem alfábetica Q, S, T

# Reordenando pelos dias da semana
dias_ordenados = ['Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado', 'Domingo']

df = df.reindex(dias_ordenados)

print("\n------- Ordenado pelos dias da semana -------\n")
print(df)

------- Ordenado pela ordem alfabética -------

          Produto   Preço    Categoria  Margem de Lucro (%)  Estoque  Receita
Quarta     Tablet   800.0          NaN                2.500     15.0  12000.0
Quinta   Notebook  3000.0  Eletrônicos                0.667      0.0      0.0
Segunda  Notebook  3000.0  Eletrônicos                0.667     10.0  30000.0
Sexta     Celular  2075.0  Eletrônicos                0.964     12.0  24900.0
Terça          -   1500.0  Eletrônicos                1.333      5.0   7500.0

------- Ordenado pelos dias da semana -------

          Produto   Preço    Categoria  Margem de Lucro (%)  Estoque  Receita
Segunda  Notebook  3000.0  Eletrônicos                0.667     10.0  30000.0
Terça          -   1500.0  Eletrônicos                1.333      5.0   7500.0
Quarta     Tablet   800.0          NaN                2.500     15.0  12000.0
Quinta   Notebook  3000.0  Eletrônicos                0.667      0.0      0.0
Sexta     Celular  2075.0  Eletrônicos                0.964     12.0  24900.0
Sábado        NaN     NaN          NaN                  NaN      NaN      NaN
Domingo       NaN     NaN          NaN                  NaN      NaN      NaN

In [ ]:
# 17. Filtrando os produtos com preço entre 5 e 15
# *OBS não tem produtos com preço entre 5 e 15 ent alterei para filtrar os produtos com preço entre 500 e 1.500

df_between = df[df['Preço'].between(500, 1500)]
print('\n ------- Produtos com preço entre 500 e 1.500 ------\n')
print(df_between)

df_between = df[df['Estoque'].between(5, 10)]
print('\n ------- Produtos com estoque entre 5 e 10 ------\n')
print(df_between)

 ------- Produtos com preço entre 500 e 1.500 ------

       Produto   Preço    Categoria  Margem de Lucro (%)  Estoque  Receita
Terça       -   1500.0  Eletrônicos                1.333      5.0   7500.0
Quarta  Tablet   800.0          NaN                2.500     15.0  12000.0

 ------- Produtos com estoque entre 5 e 10 ------

          Produto   Preço    Categoria  Margem de Lucro (%)  Estoque  Receita
Segunda  Notebook  3000.0  Eletrônicos                0.667     10.0  30000.0
Terça          -   1500.0  Eletrônicos                1.333      5.0   7500.0

In [ ]:
# Alterando os valores nulos da coluna Produto para poder selecionar os produto que contém a palavra 'Arroz'
df = df.fillna({'Produto': ' - '}, inplace=False)

# 18. Selecionando os produtos cujo nome contém a palavra "Arroz"

df_texto = df[df['Produto'].str.contains('Arroz', case = False)]

print(df_texto)

# *OBS Não tem produtos que contém a palavra "Arroz" ent o df está vazio

Empty DataFrame
Columns: [Produto, Preço, Categoria, Margem de Lucro (%), Estoque, Receita]
Index: []

In [ ]:
# 19. Filtrando linhas onde a Quantidade(estoque) seja maior que 20 e a Receita seja superior a 500 utilizando query
# OBS* Não tem produtos onde a Quantidade(estoque) seja maior que 20 e a Receita seja superior a 500

df_filtrado_query = df.query('Estoque >= 20 & Receita == 500')

print(df_filtrado_query)

Empty DataFrame
Columns: [Produto, Preço, Categoria, Margem de Lucro (%), Estoque, Receita]
Index: []